<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>




<!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> About Me!</h1>
      <h3>Song Malisa Se</h3>
      
      <div class="para" >
        <img src="images/profile.jpg" alt="profile" id="portrait">
        <h4><a href="images/resume.pdf" target="_blank">Click to see my Resume</a> </h4>
        <p> My name is Song Malisa Se. I go by lisa or Malisa. I'm cuurently a college student
          of Centennial College, program AI. In my free time, I like to read books and binge watch all kinds
          of American shows. I like programming because I think it's one of the most satisfying and coolest things ever.
          Even I am still in college, I'm very eager to learn and condifent about a developer job.
        </p>
        <p>
          My name is Song Malisa Se. I go by lisa or Malisa. I'm cuurently a college student
          of Centennial College, program AI. In my free time, I like to read books and binge watch all kinds
          of American shows.
        </p>
        <p>I like programming because I think it's one of the most satisfying and coolest things ever.
          Even I am still in college, I'm very eager to learn and condifent about a developer job.</p>
          <p>I like programming because I think it's one of the most satisfying and coolest things ever.
            Even I am still in college, I'm very eager to learn and condifent about a developer job.</p>
      
      </div>
      
      
      
      

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>











