<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>




<!--Main Content-->
  <main class="container">
    <div class="row">
      <div class="offset-md-4 col-md-4">
          <h1>Contact Me!</h1>
          <form method="POST" action="mailto:lisa@email.com">
              <fieldset class="form-group">
                  <label for="username">Name: </label>
                  <input type="text" class="form-control"
                  name="username"
                  id="username" required autofocus>
              </fieldset>

              <fieldset class="form-group">
                <label for="username">Tel: </label>
                <input type="text" class="form-control"
                name="username"
                id="username" required autofocus>
            </fieldset>
  
              <fieldset class="form-group">
                  <label for="email">Email: </label>
                  <input type="email" class="form-control"
                  name="email"
                  id="email" required>
                  
              </fieldset>

              <div class="form-group">
                <label for="sendAMessage">Send me a message: </label>
                <textarea type="text" class="form-control"
                id ="descriptionTextArea"
                name="description" required></textarea>
            </div>
  
              <fieldset class="form-group text-right">
                  <input type="submit" class="btn btn-success" value="Submit Message!">
                  <a href="/">
                      <input type="button" class="btn btn-warning" value="Cancel">
                  </a>
              </fieldset>
  
          </form>
      </div>
  </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>











