<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>




<!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <div class="para">
        <h1 class="display-4">My offered services</h1>
        <ul>
          <li>general programming</li>
          <li>web development</li>
          <li>mobile apps</li>
          <li>troubleshooting</li>
          <li>tools order delivery</li>
          <li>more...(<a href="/contact">Contact Us for more</a>)</li>
        </ul>
      </div>
      
      

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>











